
// Update Bulma's global variables
$primary: #ff0000;
$grey-dark: #393e46;
$dark: #222831;

// Update some of Bulma's component variables
$body-background-color:#eeeeee;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$box-shadow: none;
